@import url('http://fonts.cdnfonts.com/css/anurati');
@import url('http://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html, body {
   cursor: default;
   display: flex;
   font-family: norwester;
   margin: 0;
   overflow: hidden;
   padding: 0;
}

.button {
   background: #252525;
   bottom: -40px;
   cursor: pointer;
   display: block;
   height: 80px;
   left: -40px;
   overflow: hidden;
   position: absolute;
   transform: rotate(45deg);
   transition: ease-in-out 1s;
   width: 80px;
   z-index: 10000;
}

.butt {
   background: #eee;
}

.background1 {
   background-color: #eee;
   clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
   height: 100vh;
   pointer-events: stroke;
   position: absolute;
   transition: ease-in-out 1s;
   width: 100vw;
   z-index: -1000;
}

.bg1Motion {
   clip-path: polygon(0 0, 0 100%, 0 100%, 0% 100%);
}

.city1 {
   left: 42%;
   opacity: 0.2;
   position: absolute;
   top: 65%;
   transform: rotate(-155deg);
   width: 900px;
   z-index: -1;
}

.city2 {
   left: 2%;
   opacity: 0.2;
   position: absolute;
   top: 23%;
   transform: rotate(-155deg);
   width: 900px;
   z-index: -1;
}

.background1 h1 {
   color: #252525;
   display: inline-block;
   font-family: norwester;
   font-size: 60px;
   left: 50%;
   overflow: hidden;
   padding-bottom: 20px;
   padding: 15px 30px;
   position: absolute;
   text-align: center;
   top: 45%;
   transform: translate(-50%, -50%);
   z-index: 1000;
   text-shadow: -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee, 1px 1px 0 #eee,
      1px 2px 1px #D8D8D8,
      1px 3px 1px #D8D8D8,
      1px 4px 1px #D8D8D8,
      1px 5px 1px #D8D8D8,
      1px 6px 1px #D8D8D8,
      1px 7px 1px #D8D8D8,
      1px 8px 1px #D8D8D8,
      1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2);
   transition: 0.2s;
}

.background1 h1:hover {
   padding-bottom: 20px;
   color: #eee;
   background: #252525;
   box-shadow: 0 0 10px #252525, 0 0 40px #252525, 0 0 80px #252525;
   text-shadow: 1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 18px 6px rgba(238, 239, 255, 0.1),
      1px 22px 10px rgba(238, 239, 255, 0.2);
   transition-delay: 0s;
}

.background1 h1 span {
   border-radius: 10%;
   display: block;
   position: absolute;
}

.background1 h1 span:nth-child(1) {
   animation: fst-animation1 2s linear infinite;
   background: linear-gradient(90deg, #252525, #252525);
   height: 6px;
   left: -100%;
   top: 0;
   width: 60%;
}

@keyframes fst-animation1 {
   0% {
      left: -100%;
   }

   100% {
      left: 100%;
   }
}

.background1 h1 span:hover {
   background: linear-gradient(90deg, #eee, #eee);
}

.background1 h1 span:nth-child(2) {
   background: linear-gradient(180deg, #252525, #252525);
   height: 60%;
   right: 0;
   top: -100%;
   width: 6px;
}

.background1 h1:hover span:nth-child(2) {
   top: 100%;
   transition: 1s;
   transition-delay: 0.25s
}

.background1 h1 span:nth-child(3) {
   animation-delay: 2s;
   animation: trd-animation1 2s linear infinite;
   background: linear-gradient(270deg, #252525, #252525);
   bottom: 0;
   height: 6px;
   right: -100%;
   width: 60%;
}

@keyframes trd-animation1 {
   0% {
      right: -100%;
   }

   100% {
      right: 100%;
   }
}

.background1 h1 span:nth-child(4) {
   animation-delay: 3s;
   animation: frt-animation1 2s linear infinite;
   background: linear-gradient(360deg, #252525, #252525);
   bottom: -100%;
   height: 60%;
   left: 0;
   width: 6px;
}

@keyframes frt-animation1 {
   0% {
      bottom: -100%;
   }

   100% {
      bottom: 100%;
   }
}

.background2 {
   background-color: #252525;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
   height: 100vh;
   position: absolute;
   transition: ease-in-out 1s;
   width: 100vw;
   z-index: -1000;
}

.bg2Motion {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.imag {
   bottom: 3%;
   clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
   height: 35%;
   left: 50%;
   opacity: 0.9;
   overflow: hidden;
   position: absolute;
   transform: translateX(-50%);
   transition-delay: 0.25s;
   transition: ease-in-out .5s;
   width: 60%;
   z-index: 1;
}

.imag1 {
   bottom: -5%;
   clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
   height: 32%;
   left: 50%;
   opacity: 0.9;
   overflow: hidden;
   position: absolute;
   transform: translateX(-50%) rotate(-10deg) scaleX(-1);
   transition: ease-in-out .5s;
   transition-delay: 0s;
   width: 55%;
   z-index: 1;
}

.imagg0 {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   transition-delay: 0.5s;
}

.imagg1 {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   transition-delay: 0.75s;
}

.city3 {
   bottom: 15px;
   clip-path: polygon(100% 0, 100% 59%, 88% 73%, 100% 84%, 100% 100%, 41% 97%, 13% 90%, 0 55%, 0 0);
   height: 25%;
   left: 50%;
   opacity: 0.2;
   position: absolute;
   transform: translateX(-50%) scaleX(-1);
   width: 45%;
   z-index: 2;
}

.city4 {
   bottom: 15px;
   clip-path: polygon(100% 0, 100% 59%, 85% 84%, 69% 92%, 0 100%, 0 92%, 18% 81%, 0 60%, 0 0);
   height: 25%;
   left: 50%;
   opacity: 0.2;
   position: absolute;
   transform: translateX(-50%) scaleX(1);
   width: 45%;
   z-index: 2;
}

.background2 h1 {
   color: #eee;
   display: inline-block;
   font-family: norwester;
   font-size: 60px;
   left: 50%;
   overflow: hidden;
   padding-bottom: 20px;
   padding: 15px 30px;
   position: absolute;
   text-align: center;
   top: 45%;
   transform: translate(-50%, -50%);
   z-index: 1000;
   text-shadow: 1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 18px 6px rgba(238, 239, 255, 0.1),
      1px 22px 10px rgba(238, 239, 255, 0.2);
   transition: 0.2s;
}

.background2 h1:hover {
   background: #eee;
   box-shadow: 0 0 10px #eee, 0 0 40px #eee, 0 0 80px #eee;
   color: #252525;
   padding-bottom: 20px;
   text-shadow: -1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee, 1px 1px 0 #eee,
      1px 2px 1px #D8D8D8,
      1px 3px 1px #D8D8D8,
      1px 4px 1px #D8D8D8,
      1px 5px 1px #D8D8D8,
      1px 6px 1px #D8D8D8,
      1px 7px 1px #D8D8D8,
      1px 8px 1px #D8D8D8,
      1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.2);
   transition-delay: 0s;
}

.background2 h1 span {
   display: block;
   position: absolute;
   z-index: 1000;
}

.background2 h1 span:hover {
   background: linear-gradient(90deg, #252525, #252525);
}

.background2 h1 span:nth-child(1) {
   animation: fst-animation2 2s linear infinite;
   background: linear-gradient(90deg, #eee, #eee);
   height: 6px;
   left: -100%;
   top: 0;
   width: 60%;
}

@keyframes fst-animation2 {
   0% {
      left: -100%;
   }

   100% {
      left: 100%;
   }
}

.background2 h1 span:nth-child(2) {
   animation-delay: 1s;
   animation: sec-animation2 2s linear infinite;
   background: linear-gradient(180deg, #eee, #eee);
   height: 60%;
   right: 0;
   top: -100%;
   width: 6px;
}

@keyframes sec-animation2 {
   0% {
      top: -100%;
   }

   100% {
      top: 100%;
   }
}

.background2 h1 span:nth-child(3) {
   animation-delay: 2s;
   animation: trd-animation2 2s linear infinite;
   background: linear-gradient(270deg, #eee, #eee);
   bottom: 0;
   height: 6px;
   right: -100%;
   width: 60%;
}

@keyframes trd-animation2 {
   0% {
      right: -100%;
   }

   100% {
      right: 100%;
   }
}

.background2 h1 span:nth-child(4) {
   animation-delay: 3s;
   animation: frt-animation2 2s linear infinite;
   background: linear-gradient(360deg, #eee, #eee);
   bottom: -100%;
   height: 60%;
   left: 0;
   width: 6px;
}

@keyframes frt-animation2 {
   0% {
      bottom: -100%;
   }

   100% {
      bottom: 100%;
   }
}

.background2 h1:hover span:nth-child(4) {
   bottom: 100%;
   transition: 1s;
   transition-delay: 0.75s
}

.box h2 {
   align-items: center;
   display: block;
   font-family: 'Poppins', sans-serif;
   font-size: 2em;
   left: 15%;
   margin: 0;
   padding: 0;
   position: absolute;
   text-align: center;
   text-shadow: 0 5px 15px rgba(0, 0, 0, .2);
   text-transform: uppercase;
   top: 5%;
   transform: translate(-50%, -50%);
   width: fit-content;
}

.box h2:nth-child(2) {
   background: #eee;
   clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
   color: #252525;
   height: fit-content;
   overflow: hidden;
   padding: 0;
   transition: 0.5s;
   width: 280px;
   z-index: 2;
}

.box h2:nth-child(1) {
   background: transparent;
   color: #eee;
   height: fit-content;
   overflow: hidden;
   padding: 0;
   transition: 0.5s;
   width: 280px;
   z-index: 2;
}

.box h2:nth-child(2):hover {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.box h2:nth-child(1):hover+h2:nth-child(2) {
   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.datetime {
   -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
   align-items: center;
   background: transparent;
   border-radius: 5px;
   border: 3px solid #eee;
   color: #fff;
   display: block;
   font-family: sans-serif;
   height: fit-content;
   justify-content: center;
   left: 50%;
   line-height: 4em;
   padding: 15px 10px;
   position: absolute;
   top: 5%;
   transform: translateX(-50%);
   transition-property: background, box-shadow;
   transition: 0.5s;
   width: fit-content;
   z-index: 1000;
}

.datetime:hover {
   background: #eee;
   box-shadow: 0 0 30px #eee;
   color: #252525;
}

.datetime:hover #dayname {
   text-shadow: 1px 2px 1px #D8D8D8,
      1px 3px 1px #D8D8D8,
      1px 4px 1px #D8D8D8,
      1px 5px 1px #D8D8D8,
      1px 6px 1px #D8D8D8,
      1px 7px 1px #D8D8D8,
      1px 8px 1px #D8D8D8,
      1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.2);
}

#daynum, #month, #year {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   text-shadow: 0 8px 4px #eee;
   text-transform: uppercase;
}

.datetime:hover #daynum {
   text-shadow: 0 8px 4px #919191;
}

.datetime:hover #month {
   text-shadow: 0 8px 4px #919191;
}

.datetime:hover #year {
   text-shadow: 0 8px 4px #919191;
}

#dayname {
   position: relative;
   display: block;
   font-family: anurati;
   text-transform: uppercase;
   font-size: 3em;
   text-align: center;
   align-items: center;
   letter-spacing: .5em;
   text-shadow: 1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.2);
}

.date {
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   letter-spacing: 3px;
}

.time {
   font-size: 1.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 0 8px 4px #eee;
}

.time span:not(:last-child) {
   position: relative;
   margin: 0 6px;
   font-weight: 600;
   text-align: center;
   letter-spacing: 3px;
}

.time span:last-child {
   background: #eee;
   color: #252525;
   font-size: 0.75em;
   font-weight: 600;
   line-height: 1.5em;
   text-transform: uppercase;
   margin-top: 0;
   padding: 0 5px;
   border-radius: 3px;
   box-shadow: 0 8px 4px #eee;
}

.datetime:hover .time span:not(:last-child) {
   text-shadow: 0 8px 4px #919191;
}

.datetime:hover .time span:last-child {
   background: #252525;
   color: #eee;
   box-shadow: 0 8px 4px #919191;
}

section .row1 {
   position: relative;
   left: -10%;
   top: -350px;
   width: 100%;
   display: flex;
   padding: 10px 0;
   white-space: nowrap;
   font-size: 50px;
   transform: rotate(-20deg);
   line-height: 80px;
}

.row1 i {
   color: rgba(0, 0, 0, 0.2);
   transition: 2s;
   padding: 0 5px;
   user-select: none;
   animation: changeColor 5s linear infinite;
}

.row1 i:hover {
   transition: 0s;
   color: #202020;
   text-shadow: 0 0 50px rgb(37, 37, 37),
      0 0 75px rgb(37, 37, 37),
      0 0 100px rgb(37, 37, 37),
      0 0 125px rgb(37, 37, 37);
}

section .row1 div {
   animation: animate 80s linear infinite;
   animation-delay: -80s;
}

section .row1 div:nth-child(2) {
   animation: animate2 80s linear infinite;
   animation-delay: -40s;
}

section .row2 {
   position: relative;
   left: -10%;
   top: -350px;
   width: 100%;
   display: flex;
   padding: 10px 0;
   white-space: nowrap;
   font-size: 50px;
   transform: rotate(-20deg);
   line-height: 80px;
}

.row2 i {
   color: rgba(0, 0, 0, 0.5);
   transition: 2s;
   transition-delay: 0.5s;
   padding: 0 5px;
   user-select: none;
   animation: changeColor 5s linear infinite;
}

.row2 i:hover {
   transition: 0s;
   color: rgb(238, 239, 255);
   text-shadow: 0 0 60px rgb(238, 239, 255),
      0 0 90px rgb(238, 239, 255),
      0 0 115px rgb(238, 239, 255),
      0 0 130px rgb(238, 239, 255);
}

section .row2 div {
   animation: animate 80s linear infinite;
   animation-delay: -80s;
}

section .row2 div:nth-child(2) {
   animation: animate2 80s linear infinite;
   animation-delay: -40s;
}

@keyframes animate {
   0% {
      transform: translateX(100%);
   }

   100% {
      transform: translateX(-100%);
   }
}

@keyframes animate2 {
   0% {
      transform: translateX(0%);
   }

   100% {
      transform: translateX(-200%);
   }
}

section .row1:nth-child(even) div {
   animation: animate3 80s linear infinite;
   animation-delay: -80s;
}

section .row1:nth-child(even) div:nth-child(2) {
   animation: animate4 80s linear infinite;
   animation-delay: -40s;
}

@keyframes animate3 {
   0% {
      transform: translateX(-100%);
   }

   100% {
      transform: translateX(100%);
   }
}

@keyframes animate4 {
   0% {
      transform: translateX(-200%);
   }

   100% {
      transform: translateX(0%);
   }
}

section .row2:nth-child(even) div {
   animation: animate3 80s linear infinite;
   animation-delay: -80s;
}

section .row2:nth-child(even) div:nth-child(2) {
   animation: animate4 80s linear infinite;
   animation-delay: -40s;
}

@keyframes animate3 {
   0% {
      transform: translateX(-100%);
   }

   100% {
      transform: translateX(100%);
   }
}

@keyframes animate4 {
   0% {
      transform: translateX(-200%);
   }

   100% {
      transform: translateX(0%);
   }
}

.dark {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   position: absolute;
   bottom: 23px;
   left: 13px;
   display: block;
   overflow: hidden;
   font-size: 1.5em;
   text-align: center;
   transform: rotate(45deg);
   transition: ease-in-out 1s;
   transition-delay: 1s;
}

.darkone {
   clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
   transition-delay: 0s;
}

.default {
   clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
   position: absolute;
   bottom: 23px;
   left: 0;
   display: block;
   overflow: hidden;
   font-size: 1.5em;
   color: #eee;
   text-align: center;
   transform: rotate(45deg);
   transition: ease-in-out 1s;
   transition-delay: 0ms;
}

.def {
   transition-delay: 1s;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
